/*
Sadeed Waseem
FA18-BCE-032
March 2, 2022
 */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

/* Main Page (ulti gari wala) */
.mainPage {
  position: relative;
  height: 703px;
  background-color: #f7f6f3;
}

.carImage {
  position: absolute;
  width: 859.54px;
  height: 611.06px;
  left: 535.46px;
  top: 43.7px;

  background: url(static/img/shutterstock_1721657422\ 1.png);
  border-radius: 10px;
}

.infoBox {
  position: absolute;
  width: 524px;
  height: 431px;
  left: 93px;
  top: 103px;

  background: #ffffff;
  border-radius: 18px;
  padding-left: 47px;
}

.boxHeader {
  font-weight: 600;
  font-size: 28px;
  /* align-items: center; */
  padding-right: 39px;
  padding-top: 51px;
}

.boxText {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #767676;
  padding-top: 20px;
  padding-right: 95px;
}

.buttonBox {
  padding-top: 68px;
  padding-bottom: 64px;
}

.buttonGrey {
  background-color: #544e4d;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Features Section */
.features {
  background-color: #544e4d;
  text-align: center;
  height: 620px;
  position: relative;
}

.feature-heading {
  color: white;
  padding: 106px 0px 10px 0px;
  font-size: 27px;
  font-weight: 600;
}

.featureCards {
  display: flex;
  justify-content: center;
}

.feature-card {
  width: 237px;
  height: 350px;
  background-color: white;
  border-radius: 20px;
  color: black;
  padding: 30px 30px 30px 30px;
  margin-top: 40px;
  margin-left: 20px;
}

.imageBg {
  background-color: #f19961;
  border-radius: 50%;
  height: 88px;
  width: 88px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 44px;
}

.card-text {
  font-weight: 600;
  padding: 30px 30px 15px 30px;
  color: #544e4d;
}

.card-text-paragraph {
  font-size: 13px;
}

/* Save Lives Section */
.saveLives {
  background-color: #ebdfcd;
  position: relative;
  height: 887px;
}

.gril {
  position: absolute;
  width: 699px;
  height: 403px;
  left: 655px;
  top: 0;

  background: url(static/img/gril.png);
}

.text1,
.text2 {
  margin-left: 20px;
  width: 400px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.19);
}

.text1 {
  position: absolute;
  top: 100px;
  left: 100px;
}
.text2 {
  position: absolute;
  top: 250px;
  left: 100px;
}

.one,
.three {
  color: #5d5d5d;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.two,
.four {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.bigger-text {
  display: flex;
  position: absolute;
  top: 500px;
}
.bigger-text-left,
.bigger-text-right {
  position: absolute;
  width: 500px;
  height: 345px;
  height: 470px;
}

.bigger-text-left {
  font-family: Source Sans Pro;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  left: 120px;
}

.bigger-text-right {
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;

  left: 700px;
}

/* Match Me Section */

.matchMe {
  height: 800px;
  background-color: #f7f6f3;
  padding-top: 110px;
}

.matchMeHeading {
  font-family: "Source Sans Pro";
  font-size: 27px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: center;
}

.matchMeParent {
  margin-top: 80px;
  margin-bottom: 150px;
}

.matchMeLeftHeading {
  margin-left: 120px;
  margin-bottom: 25px;
  width: 360px;
  font-family: "Source Sans Pro";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
}

.matchMeLeftText {
  color: #646464;
  margin-left: 120px;
  margin-bottom: 42px;
  width: 360px;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.matchMeLeftButton {
  margin-left: 120px;
}

.matchMeRight {
  position: absolute;
  width: 666px;
  height: 355px;
  left: 656px;
  top: 2622px;

  background: url(comp1.png);
}

.buttonBoxMatchMe {
  padding-left: 120px;
}

/* Teach Me Section */

.teachMeRight {
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 720px;
}

.teachMeLeft {
  position: absolute;
  width: 696px;
  height: 515px;
  left: 0px;
  top: 3184px;

  background: url(static/img/teach-me.png);
  border-radius: 0px 20px 20px 0px;
}

/* Find It Section */

.findItRight {
  position: absolute;
  width: 496px;
  height: 410px;
  left: 772px;
  top: 3942px;

  background: url(static/img/find-it.png);
  border: 5px solid #ffffff;
  filter: drop-shadow(0px 4px 45px rgba(0, 0, 0, 0.12));
  border-radius: 10px;
}

/* Signup Section */

.signUp {
  background-color: #f19961;
  position: absolute;
  width: 1866px;
  height: 461px;
  left: -372px;
  top: 4535px;
}

.stear {
  position: relative;
  width: 294px;
  height: 324px;
  left: 1518px;
  top: 101px;

  background: url(static/img/stearing.png);
}

.signUpHeading {
  position: absolute;
  top: 139px;
  left: 802px;
  bottom: 240px;
  color: white;
  width: 580px;
  font-family: "Source Sans Pro";
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: center;
  align-items: center;
}

.buttonBoxSignUp {
  position: absolute;
  top: 273px;
  left: 995px;
  bottom: 136px;
}

/* Footer Section */
.footer {
  position: absolute;
  width: 1707px;
  height: 503px;
  left: -134px;
  top: 4960px;

  background: #3f3c3c;
}

.footerLogo {
  position: relative;
  width: 128.13px;
  height: 65.3px;
  left: 265px;
  top: 60px;
  bottom: 377.7px;

  background: url(static/img/logo.png);
}

.footerLicense {
  position: relative;
  width: 360.23px;
  height: 16px;
  left: 265.46px;
  top: 278px;
  bottom: 209px;

  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height, or 123% */

  display: flex;
  align-items: center;
  letter-spacing: 0.4px;

  color: #ffffff;
}

.footerLinks {
  position: relative;
  top: 193px;
  left: 155px;
  bottom: 294px;
  color: white;
}

.footerLinks a {
  text-decoration: none;
  color: white;
}

.footerLinks ul li {
  display: inline;
  padding: 77.8px;
  list-style: none;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
